<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="callSelectPage.emit('home')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Rendelés</span>
  </mat-toolbar-row>
</mat-toolbar>

<app-container *ngIf="form" [formGroup]="form">

  <mat-card class="margin-bottom">
    <mat-card-header>
      <mat-card-title>Általános információk</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="max-width margin-bottom" cellspacing="0" formArrayName="name">
        <tr>
          <td formGroupName="0">
            <mat-form-field class="max-width">
              <mat-label>Név</mat-label>
              <input type="text" name="name" matInput formControlName="text">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="margin-bottom">
    <mat-card-header>
      <mat-card-title>Kapcsolattartási információk</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="max-width" cellspacing="0" formArrayName="telecom">
        <tr>
          <td formGroupName="1">
            <mat-form-field class="max-width">
              <mat-label>Telefon</mat-label>
              <input type="phone" formControlName="value" matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <button mat-button (click)="log()">Rendelés</button>
</app-container>
