<mat-card *ngIf="product" (click)="getProduct.emit(product)">
  <mat-card-header>
    <mat-card-title>{{product.name}}<small *ngIf="product.price">({{product.price}}Ft)</small></mat-card-title>
    <mat-card-subtitle>
      <div [style.backgroundColor]="product.price > 1000 ? '#e91e63': '#d90000'" class="imdb">{{product.price}}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="product.img" [src]="product.img" alt="borito">
    <p>{{product.description}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="hasAction">
    <button mat-button (click)="toggleStar($event)">
      <mat-icon *ngIf="product.star;else star" style="color: #e91e63;">star</mat-icon>
      <ng-template #star>
        <mat-icon>star_outline</mat-icon>
      </ng-template>
    </button>
    <button mat-button (click)="toggleOrder($event)">
      <mat-icon *ngIf="product.ordered;else ordered" style="color: #e91e63;">shop</mat-icon>
      <ng-template #ordered>
        <mat-icon>shop</mat-icon>
      </ng-template>
    </button>
  </mat-card-actions>
</mat-card>
