<form [formGroup]="form">
  <h3>Termék felvétel</h3>
  <mat-form-field class="max-width">
    <mat-label>Név</mat-label>
    <input matInput placeholder="Pl. cipő" focus formControlName="name" required>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Kép</mat-label>
    <textarea placeholder="Kérlek URL-t adj meg!" formControlName="img" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Leírás</mat-label>
    <textarea placeholder="Ez egy nagyon haszontalan dolog" formControlName="description" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <div style="display: flex; justify-content: flex-end;">
    <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
  </div>
</form>
